<p>header works!</p>

<!-- NO AUTH REQUIRED -->
@if (showNoAuthSection) {
  <div>
    <button (click)="dashboard()">Dashboard</button>
    <button (click)="home()">Home</button>
    <button (click)="login()">Login</button>
    <button (click)="register()">Register</button>
  </div>
}

<!-- AUTH REQUIRED -->
@if (showAuthSection) {
  <div>
    <button (click)="dashboard()">Dashboard</button>
    <button (click)="home()">Home</button>
    <button (click)="adminPosts()">Admin posts</button>
    <button (click)="adminCategories()">Admin categories</button>
    <button (click)="profile()">Profile</button>
    <button (click)="logout()">Logout</button>
  </div>
}
