ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 6px;
  }
}

.categories {
  margin-top: 6px;
}

span {
  padding: 6px 12px;
  margin-right: 6px;
}

.post {
  border: 1px solid black;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  width: 60%;
}

.categories {
  display: inline-block;
}

button {
  text-transform: uppercase;
}
